body{
  font-family: 'Roboto', sans-serif;
}

.message{
  background-color: blue;
}

.clickable{
  cursor: pointer;
}

#title-site{
  font-size: 30px;
  margin-top: 5px;
}

.title-site-second{
  background-color: red;
  color: white;
  font-weight: bold;
}

.search-bar{
  margin-top: 5px;
}

.youtube-player{
  margin-top: 15px;
}

.video-area{
  background-color: #ddd;
}

.video-list-area{
  margin-top: 5px;
}

.video-list-item-title{
  font-weight: bold;
  font-size: 16px;
}

.video-list-item-channel{
  font-size: 14px;
}

.video-list-item-publishedAt{
  font-size: 14px;
}
