<div class="row">
  <div class="col-12">
    <ul>
      <li *ngFor="let video of videos | async" 
          class="item-list list-group-item" 
          (click)="selectVideo(video.id)">
        <div class="row">
          <div class="col-md-4">
            <img src={{video.thumbnailSrc}} />
          </div>
          <div class="col-md-8">
            <h3 class="video-list-item-title">{{video.title}}</h3>
            <span class="video-list-item-channel">{{video.channelTitle}}</span><br />
            <span class="video-list-item-publishedAt">{{video.publishedAt}}</span>
          </div>
        </div>
      </li>
    </ul>    
  </div>
</div>


