<app-section>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <app-progress></app-progress>
            </div>
            <div class="col-sm-6 col d-flex justify-content-end">
                <app-attempts></app-attempts>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <h6 class="bold-title">{{instruction}}</h6>
    
                <p>{{currentQuestion.english}}</p>            
                <div class="form-group">
                    <textarea 
                        (input)="onUpdateAnswer($event.target.value)"
                        [value]="currentAnswer" 
                        class="form-control" 
                        id="answer" 
                        rows="3"></textarea>
                </div>
            </div>        
        </div>
    
        <div class="row">
            <div class="col d-flex justify-content-end">
                <button (click)="validateAnswer()" type="button" class="btn btn-primary">Validar Resposta</button>
            </div>
        </div>
    </div>
</app-section>