<app-section>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <app-progress></app-progress>
            </div>
            <div class="col-sm-6">
                <app-attempts></app-attempts>
            </div>
        </div>
    
        <div class="row">
            <div class="col">
                <h6 class="bold-title">Traduza a frase</h6>
    
                <p>The book is on the table</p>            
                <div class="form-group">
                    <textarea class="form-control" id="answer" rows="3"></textarea>
                </div>
            </div>        
        </div>
    
        <div class="row">
            <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-primary">Validar Resposta</button>
            </div>
        </div>
    </div>
</app-section>